@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div class="nicdark_container nicdark_clearfix">

    <div class="nicdark_space50"></div>
@{var peoplePage = Umbraco.TypedContent(1110); }
@foreach (var peopleTile in peoplePage.Children)
{
    <div class="grid grid_6">
        @*@{var item = Model.Content.Children.First();}*@
        

            <div class="nicdark_archive1 nicdark_bg_orange nicdark_radius nicdark_shadow">

                <div class="nicdark_textevidence nicdark_width_percentage40 nicdark_width100_responsive">
                    <img alt="" class="nicdark_radius_left nicdark_opacity" src="@Umbraco.Media(peopleTile.GetPropertyValue("Photo").ToString()).Url">
                </div>

                <div class="nicdark_textevidence nicdark_width_percentage50 nicdark_width100_responsive">

                    <div class="nicdark_margin20">

                        @*@foreach (var item in Model.Content.Children)*@
                        @*@{var item = Model.Content.Children.First();}*@


                        <h4 class="white"><a class="white" href="@peopleTile.Url">@peopleTile.Name</a></h4>
                        <div class="nicdark_space20"></div>
                        <div class="nicdark_divider left small"><span class="nicdark_bg_white nicdark_radius"></span></div>
                        <div class="nicdark_space20"></div>
                        <p class="white">@(peopleTile.GetPropertyValue("teacherShortDescription"))</p>
                        <div class="nicdark_space20"></div>
                        <a href="@peopleTile.Url" class="white nicdark_btn"><i class="icon-graduation-cap-1"></i> Read More!</a>

                    </div>
                </div>


                <div class="nicdark_textevidence nicdark_width_percentage10 nicdark_displaynone_responsive">
                    <div class="nicdark_space20"></div>
                    <div class="nicdark_space5"></div>
                    <a title="CURRICULUM" href="single-teacher.html" class="nicdark_rotate nicdark_tooltip nicdark_btn_icon small nicdark_bg_bluedark nicdark_radius_circle white"><i class="icon-download-outline"></i></a>
                    <div class="nicdark_space20"></div>
                    <a title="DOCUMENTS" href="single-teacher.html" class="nicdark_rotate nicdark_tooltip nicdark_btn_icon small nicdark_bg_bluedark nicdark_radius_circle white"><i class="icon-attach-outline"></i></a>
                    <div class="nicdark_space20"></div>
                    <a title="COURSES" href="single-teacher.html" class="nicdark_rotate nicdark_tooltip nicdark_btn_icon small nicdark_bg_bluedark nicdark_radius_circle white"><i class="icon-mic-outline"></i></a>
                    <div class="nicdark_space20"></div>
                </div>

            </div>
        </div>
        }
    </div>


    
