@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Umbraco.Core
@using ClientDependency.Core.Mvc
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;

    // Get basic design settings from the homepage
    ContentModels.Home home = Model.Content.Site() as ContentModels.Home;
    var colorTheme = Umbraco.GetPreValueAsString(home.ColorTheme);
    var font = Umbraco.GetPreValueAsString(home.Font);
    
    
}

<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<html>
<head>
       @Scripts.Render("~/bundles/JQuery")
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--meta responsive-->
    <!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

    <title>@Umbraco.Field("seoMetaTitle", altText:"Chatterbox English School", recursive: true)</title>
    <meta name="description" content="@Umbraco.Field("seoMetaDescription", altText:"Chatterbox English School", recursive: true)">
    <meta name="author" content="">
    
    <!--START CSS-->
    <link rel="stylesheet" href="@Url.Content("~/css/nicdark_style.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/nicdark_responsive.css")" />
    
    <!--revslider-->
    <link rel="stylesheet" href="@Url.Content("~/css/revslider/settings.css")" />
    
    <!--END CSS-->
    
    <!--google fonts-->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> <!-- font-family: 'Montserrat', sans-serif; -->
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'> <!-- font-family: 'Raleway', sans-serif; -->
    <link href='http://fonts.googleapis.com/css?family=Montez' rel='stylesheet' type='text/css'> <!-- font-family: 'Montez', cursive; -->

    <!--[if lt IE 9]>  
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>  
    <![endif]-->  
    
    <!--FAVICONS-->
    <link rel="shortcut icon" href="@Url.Content("~/media/1182/favicon.ico")">
    <link rel="apple-touch-icon" href="@Url.Content("~/media/1181/apple-touch-icon.png")">
    <link rel="apple-touch-icon" sizes="72x72" href="@Url.Content("~/media/1180/apple-touch-icon-72x72.png")">
    <link rel="apple-touch-icon" sizes="114x114" href="@Url.Content("~/media/1179/apple-touch-icon-114x114.png")">
    <!--END FAVICONS-->
    
    <!--Nav-->
		<link rel="stylesheet" href="@Url.Content("~/css/responsive-nav.css")" />
		
    
    @RenderSection("Header", required: false)
</head>
<body id="start_nicdark_framework">


@RenderBody()
</body>  

</html>
